
html {
    overflow: hidden;
}

p {
    margin: 0 !important;
}

.money-container {
    position: absolute;
    right: 5vw;
    top: 7vh;
}

#nakit {
    color: white;
}

.mbl-nakit {
    animation: upperbody 1.4s;
    display: block;
    float:right;
    font-family: 'pdown';
    font-weight: 400;
    font-size: 29px;
    color: white;
    padding: 4px;
    margin: 0;
    margin-right: 6px;
    margin-top: 6px;
    padding: 0;
    -webkit-animation: upperbody 1.4s;
}

.mbl-nakit {
    animation: upperbody 1.4s;
    color: rgb(210, 210, 210);
    text-align: right;
    opacity: 0.8;
}


#plus-changeamount {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #f0f0f0;
}

#minus-changeamount {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #f0f0f0;
}

.minus {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #801e1f;
}

.munnie {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #277418;
}

.moneyupdate {
    float: right;
    padding-left: 0.5vw;
}

.plus {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: right;
    color: #277418;
}

@keyframes upperbody{
    0%{
        transform: translateX(250px);
    }
    100%{
        transform: translateX(0px);
    }
}

